name: Update BigQuery

on:
  schedule:
    - cron: "0 * * * *"   # tiap jam
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install google-cloud-bigquery pandas requests

      - name: Write service account file
        env:
          SA_KEY: ${{ secrets.SA_KEY }}
        run: echo "$SA_KEY" > service_account.json

      - name: Run Python script
        run: python main.py
